/* You can add global styles to this file, and also import other style files */
.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

.w33{
    width: 33%;
}

.w25{
    width: 25%;
}

.showModal{
    display: contents;
    top: 0
}